<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Download Source at GitHub</h2>
            <a href="http://www.github.com/sojufrank" class="btn btn-default btn-xl wow tada">Download Now!</a>
        </div>
    </div>
</aside>

